body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  overflow-x: hidden;
}
body * {
  margin: 0px;
  padding: 0px;
}
.content-section {
  padding: 50vh 0px;
  max-width: 900px;
  margin: 0 auto;
}
